flow.json
[
    {
        "id": "a6d97f83866efa29",
        "type": "tab",
        "label": "SOTA ALERTS and Summits",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86f3147e994d0f6b",
        "type": "tab",
        "label": "SQLite Tests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1652e225aa064bf",
        "type": "tab",
        "label": "Msg Properties Experiments",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c13882529c56fce8",
        "type": "tab",
        "label": "HTTP Response Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e863ac0512b83c0",
        "type": "tab",
        "label": "WSJT Capture and Parse",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d56b95c5cf209f2",
        "type": "tab",
        "label": "Alerts To DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2ea45338eb51cf5",
        "type": "tab",
        "label": "DB to Map",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6464bc74006e0eec",
        "type": "tab",
        "label": "Map Interactions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7e1a35dfed587da",
        "type": "tab",
        "label": "Create ALERTS.DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d5c21ab41d1c469",
        "type": "tab",
        "label": "Time Experiments",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12c7debef331bf5d",
        "type": "tab",
        "label": "UI Experiments",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26510e2df6dde045",
        "type": "tab",
        "label": "CSV Logs etc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eede5f8dff6cdb3d",
        "type": "tab",
        "label": "Link In, Out and Call",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cd6f3b19fb65612",
        "type": "tab",
        "label": "Link In and Out Dif TAB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6aff00207da0509",
        "type": "tab",
        "label": "Cabrillo LOG Experiments that DONT belong here",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f083648b1148f65c",
        "type": "tab",
        "label": "N1mm Spot XML",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73810d06b03818e0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e699a6c8314d41b4",
        "type": "subflow",
        "name": "Radio Subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 100,
                "wires": [
                    {
                        "id": "0b6304b6d7c9e265"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 100,
                "wires": [
                    {
                        "id": "0b6304b6d7c9e265",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "937754e7ea577683",
        "type": "ui_group",
        "name": "SOTA Event (G/LD June 2023) - Activator: M0SNA/P  ||   S2S: 4 || Chaser Pts: 23  ||  Qs: 12  || 09:43 UTC",
        "tab": "7a6b7462852c07e3",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a6b7462852c07e3",
        "type": "ui_tab",
        "name": "evOTA Visualizer",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b3e6b591997a7494",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4be4fd1f690e8d69",
        "type": "serial-port",
        "serialport": "COM24",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "false",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bbd604b9cf63b981",
        "type": "mqtt-broker",
        "name": "Altair4Pi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7ccc8fbaf24e8aab",
        "type": "sqlitedb",
        "db": "/home/pi/bingo.db",
        "mode": "RWC"
    },
    {
        "id": "97158aa1.026308",
        "type": "sqlitedb",
        "db": "db_002"
    },
    {
        "id": "9e26b870b7cef5c2",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c9223d2c18ac316d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "951e388692504675",
        "type": "sqlitedb",
        "db": "/home/pi/eSOTAAlerts.db",
        "mode": "RWC"
    },
    {
        "id": "4441a65c13a15ee4",
        "type": "sqlitedb",
        "db": "/home/pi/alerts.db",
        "mode": "RWC"
    },
    {
        "id": "0b89e88953f78198",
        "type": "ui_spacer",
        "z": "12c7debef331bf5d",
        "name": "spacer",
        "group": "937754e7ea577683",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d28162245cadc89",
        "type": "ui_tab",
        "name": "Log Book",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9224e7358c1036ac",
        "type": "ui_tab",
        "name": "Configuration",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0da33e22d2c5081a",
        "type": "ui_group",
        "name": "Config",
        "tab": "9224e7358c1036ac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12a5ad02ebaae79c",
        "type": "ui_spacer",
        "z": "12c7debef331bf5d",
        "name": "spacer",
        "group": "0da33e22d2c5081a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "96497aade1213555",
        "type": "ui_group",
        "name": "Event Logs",
        "tab": "5d28162245cadc89",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b6304b6d7c9e265",
        "type": "function",
        "z": "e699a6c8314d41b4",
        "name": "function 3",
        "func": "msg.payload = 'Hello from a subFlow';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "703f20ae0f95b5c1",
        "type": "http request",
        "z": "a6d97f83866efa29",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api2.sota.org.uk/api/alerts/all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 190,
        "y": 240,
        "wires": [
            [
                "a0cff22f72c952eb",
                "e509c202cdf48b3a",
                "62309ef3295d3a7a"
            ]
        ]
    },
    {
        "id": "a0cff22f72c952eb",
        "type": "debug",
        "z": "a6d97f83866efa29",
        "name": "Everything",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "5e2e6193db7dcacd",
        "type": "inject",
        "z": "a6d97f83866efa29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "eca26b7f6e0e9f96"
            ]
        ]
    },
    {
        "id": "e509c202cdf48b3a",
        "type": "debug",
        "z": "a6d97f83866efa29",
        "name": "Number of Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "62309ef3295d3a7a",
        "type": "function",
        "z": "a6d97f83866efa29",
        "name": "List of Planned Acts",
        "func": "var actCount = flow.get('actCount');\nlet summitURL = \"https://api2.sota.org.uk/api/summits/\";\nlet tString, assoc, summit = \"\";\n\nif (actCount <= msg.payload.length) {\n\n    assoc = msg.payload[actCount].associationCode;\n    tString = summitURL.concat(assoc);\n\n    summit = msg.payload[actCount].summitCode;\n    msg.payload = tString.concat(\"/\", summit);\n\n    //msg.payload = summitURL;\n\n    //payload[0].associationCode\n    //payload[1].associationCode\n    //payload[0].associationCode\n\n    //actCount++;\n    //flow.set('actCount', actCount);\n}\n\n\nactCount++;\nflow.set('actCount', actCount);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 220,
        "wires": [
            [
                "f55e8779b185772e",
                "70154cd4.de1444"
            ]
        ]
    },
    {
        "id": "f3dfa6678428bb32",
        "type": "debug",
        "z": "a6d97f83866efa29",
        "name": "My subset....",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 420,
        "wires": []
    },
    {
        "id": "b36aa30.3a7276",
        "type": "http request",
        "z": "a6d97f83866efa29",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 930,
        "y": 340,
        "wires": [
            [
                "7d7f348a389e2bf7"
            ]
        ]
    },
    {
        "id": "11167f67.5d5031",
        "type": "inject",
        "z": "a6d97f83866efa29",
        "name": "SOTA Summits",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "https://api2.sota.org.uk/api/summits/gw/nw-001",
        "payloadType": "str",
        "x": 460,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "70154cd4.de1444",
        "type": "change",
        "z": "a6d97f83866efa29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "96ac449cbe22c880",
                "b36aa30.3a7276"
            ]
        ]
    },
    {
        "id": "1ef9987c.956c78",
        "type": "debug",
        "z": "a6d97f83866efa29",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 660,
        "wires": []
    },
    {
        "id": "7d7f348a389e2bf7",
        "type": "function",
        "z": "a6d97f83866efa29",
        "name": "Summit to /MAP pars",
        "func": "msg.payload = JSON.parse(msg.payload);\n\nvar latlon = {\n    \"name\": \"!\",\n    \"mode\": \"FM\",\n    \"lat\": 99.99,\n    \"lon\": -99.99,\n    \"layer\": \"SOTA\",\n    \"radius\": \"15000\",\n    \"color\": \"yellow\"\n};\n\nlatlon.name = msg.payload.name;\nlatlon.lat = msg.payload.latitude;\nlatlon.lon = msg.payload.longitude;\n\nmsg.payload = latlon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "1ef9987c.956c78"
            ]
        ]
    },
    {
        "id": "96ac449cbe22c880",
        "type": "debug",
        "z": "a6d97f83866efa29",
        "name": "Activation URL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "b28f4fd1693fc69e",
        "type": "inject",
        "z": "a6d97f83866efa29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "703f20ae0f95b5c1"
            ]
        ]
    },
    {
        "id": "eca26b7f6e0e9f96",
        "type": "change",
        "z": "a6d97f83866efa29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actCount",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "703f20ae0f95b5c1"
            ]
        ]
    },
    {
        "id": "f55e8779b185772e",
        "type": "change",
        "z": "a6d97f83866efa29",
        "name": "actCount display",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "actCount",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "739a20e6c66b91bb"
            ]
        ]
    },
    {
        "id": "739a20e6c66b91bb",
        "type": "debug",
        "z": "a6d97f83866efa29",
        "name": "actCount",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "25ca9abcb081210a",
        "type": "change",
        "z": "a6d97f83866efa29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "plannedActivations",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "26a29fb7083719a7"
            ]
        ]
    },
    {
        "id": "26a29fb7083719a7",
        "type": "change",
        "z": "a6d97f83866efa29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plannedActivations",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "f3dfa6678428bb32"
            ]
        ]
    },
    {
        "id": "25073da1e1297a95",
        "type": "function",
        "z": "a6d97f83866efa29",
        "name": "Alert/Spot stuff",
        "func": "//var newMsg = { payload: msg.payload.length };\n\nvar actCount = flow.get('actCount');\nlet summitURL = \"https://api2.sota.org.uk/api/summits/\";\nlet tString, assoc, summit = \"\";\n\nif (actCount <= msg.payload.length) {\n\n    //assoc = flow.plannedActivations[actCount].associationCode;\n    //summit = flow.plannedActivations[actCount].summitCode;\n    tString = summitURL.concat(assoc);\n \n    msg.payload = tString.concat(\"/\", summit);\n\n    //payload[0].associationCode\n    //payload[1].associationCode\n    //payload[0].associationCode\n\n    actCount++;\n    flow.set('actCount', actCount);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d3c6a10fedd76d3f",
        "type": "comment",
        "z": "a6d97f83866efa29",
        "name": "GIT enabled!!",
        "info": "",
        "x": 230,
        "y": 560,
        "wires": []
    },
    {
        "id": "7fa463e3e5057e22",
        "type": "sqlite",
        "z": "86f3147e994d0f6b",
        "mydb": "7ccc8fbaf24e8aab",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Bingo DB",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "58a25f60ae3a18a6",
                "776cbeaba2a2b64e"
            ]
        ]
    },
    {
        "id": "58a25f60ae3a18a6",
        "type": "debug",
        "z": "86f3147e994d0f6b",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed3e1462de6197ee",
        "type": "inject",
        "z": "86f3147e994d0f6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT temperature,humidity FROM weather;",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "7fa463e3e5057e22"
            ]
        ]
    },
    {
        "id": "776cbeaba2a2b64e",
        "type": "debug",
        "z": "86f3147e994d0f6b",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[2].humidity",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "d88dd470.0ac7b8",
        "type": "inject",
        "z": "e1652e225aa064bf",
        "name": "make request",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "874a3d4e.9b666"
            ]
        ]
    },
    {
        "id": "874a3d4e.9b666",
        "type": "http request",
        "z": "e1652e225aa064bf",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://nodered.org",
        "tls": "",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "60faf7c27a6cd845",
                "401af4deaae71f26",
                "249ea61428dadfd6"
            ]
        ]
    },
    {
        "id": "7403c68f.21d7c8",
        "type": "debug",
        "z": "e1652e225aa064bf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "90243cc1.87edc",
        "type": "html",
        "z": "e1652e225aa064bf",
        "name": "",
        "property": "",
        "tag": ".node-red-latest-version",
        "ret": "text",
        "as": "single",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "7403c68f.21d7c8",
                "0a471970cce99976"
            ]
        ]
    },
    {
        "id": "dd8bd01767401750",
        "type": "html",
        "z": "e1652e225aa064bf",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "",
        "ret": "html",
        "as": "single",
        "x": 410,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "60faf7c27a6cd845",
        "type": "change",
        "z": "e1652e225aa064bf",
        "name": "nomadicMaker MSG properties",
        "rules": [
            {
                "t": "set",
                "p": "nomadicMaker.count",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "90243cc1.87edc"
            ]
        ]
    },
    {
        "id": "0a471970cce99976",
        "type": "debug",
        "z": "e1652e225aa064bf",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "nomadicMaker",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "04e5e7fa8f9b3e63",
        "type": "change",
        "z": "e1652e225aa064bf",
        "name": "1708 Properties",
        "rules": [
            {
                "t": "set",
                "p": "1708.buttonNumber",
                "pt": "msg",
                "to": "17",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "ec5bf7ee3aed263e"
            ]
        ]
    },
    {
        "id": "ec5bf7ee3aed263e",
        "type": "debug",
        "z": "e1652e225aa064bf",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "1708",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "401af4deaae71f26",
        "type": "change",
        "z": "e1652e225aa064bf",
        "name": "1708 Other",
        "rules": [
            {
                "t": "set",
                "p": "1708.buttonText",
                "pt": "msg",
                "to": "10m",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "04e5e7fa8f9b3e63"
            ]
        ]
    },
    {
        "id": "e8bb7f9b01d8f2e8",
        "type": "inject",
        "z": "e1652e225aa064bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "b77dbf065e9041c7"
            ]
        ]
    },
    {
        "id": "b77dbf065e9041c7",
        "type": "http request",
        "z": "e1652e225aa064bf",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://sotawatch.sota.org.uk/en/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 150,
        "y": 140,
        "wires": [
            [
                "14c81490621b4783"
            ]
        ]
    },
    {
        "id": "14c81490621b4783",
        "type": "debug",
        "z": "e1652e225aa064bf",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "249ea61428dadfd6",
        "type": "debug",
        "z": "e1652e225aa064bf",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 320,
        "wires": []
    },
    {
        "id": "34bca9aea8672b9c",
        "type": "inject",
        "z": "c13882529c56fce8",
        "name": "make request Ex 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "d10961ee7c74d3f4"
            ]
        ]
    },
    {
        "id": "d10961ee7c74d3f4",
        "type": "http request",
        "z": "c13882529c56fce8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://nodered.org",
        "tls": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "c5aef44f1f27c13f"
            ]
        ]
    },
    {
        "id": "6ef8aab0b70aadc4",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5aef44f1f27c13f",
        "type": "html",
        "z": "c13882529c56fce8",
        "name": "",
        "property": "",
        "tag": ".node-red-latest-version",
        "ret": "text",
        "as": "single",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "6ef8aab0b70aadc4"
            ]
        ]
    },
    {
        "id": "77d477ca4bc54f67",
        "type": "http request",
        "z": "c13882529c56fce8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "955d665c1b998277"
            ]
        ]
    },
    {
        "id": "465181191c2ac1ce",
        "type": "inject",
        "z": "c13882529c56fce8",
        "name": "cars on craigslist Ex 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://vancouver.craigslist.org/search/sss?format=rss&query=cars",
        "payloadType": "str",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "0376c20a56040065"
            ]
        ]
    },
    {
        "id": "0376c20a56040065",
        "type": "change",
        "z": "c13882529c56fce8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "77d477ca4bc54f67"
            ]
        ]
    },
    {
        "id": "955d665c1b998277",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "41747a17.54ffd4",
        "type": "http request",
        "z": "c13882529c56fce8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "d682318c.36823"
            ]
        ]
    },
    {
        "id": "d682318c.36823",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "90bfea22.dd2b98",
        "type": "inject",
        "z": "c13882529c56fce8",
        "name": "post id Ex 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "e67a0cc.596d4f"
            ]
        ]
    },
    {
        "id": "e67a0cc.596d4f",
        "type": "change",
        "z": "c13882529c56fce8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "41747a17.54ffd4"
            ]
        ]
    },
    {
        "id": "e95c6faa.ab2e1",
        "type": "http request",
        "z": "c13882529c56fce8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "7cf30700.5bc978"
            ]
        ]
    },
    {
        "id": "7cf30700.5bc978",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 600,
        "wires": []
    },
    {
        "id": "637d3c55.eb3084",
        "type": "inject",
        "z": "c13882529c56fce8",
        "name": "query parameter Ex 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")",
        "payloadType": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "b001d489.d8f818"
            ]
        ]
    },
    {
        "id": "b001d489.d8f818",
        "type": "change",
        "z": "c13882529c56fce8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 640,
        "wires": [
            [
                "e95c6faa.ab2e1"
            ]
        ]
    },
    {
        "id": "14c60a10.794df6",
        "type": "http request",
        "z": "c13882529c56fce8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "b4ea8dd4.61a05",
                "8c46b83ecdc7005b",
                "aca01ce326234db4"
            ]
        ]
    },
    {
        "id": "b4ea8dd4.61a05",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload.title",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 780,
        "wires": []
    },
    {
        "id": "3479192a.04f016",
        "type": "inject",
        "z": "c13882529c56fce8",
        "name": "post id",
        "props": [
            {
                "p": "payload",
                "v": "2",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 90,
        "y": 780,
        "wires": [
            [
                "e69250cf.368fd"
            ]
        ]
    },
    {
        "id": "e69250cf.368fd",
        "type": "change",
        "z": "c13882529c56fce8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 780,
        "wires": [
            [
                "14c60a10.794df6"
            ]
        ]
    },
    {
        "id": "8c46b83ecdc7005b",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 840,
        "wires": []
    },
    {
        "id": "aca01ce326234db4",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "cb1dfcde.fd153",
        "type": "function",
        "z": "c13882529c56fce8",
        "name": "set payload and headers",
        "func": "msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 1040,
        "wires": [
            [
                "e44209e7.752698"
            ]
        ]
    },
    {
        "id": "dcf34aab.218928",
        "type": "inject",
        "z": "c13882529c56fce8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "cb1dfcde.fd153"
            ]
        ]
    },
    {
        "id": "e44209e7.752698",
        "type": "http request",
        "z": "c13882529c56fce8",
        "name": "post to HttpBin",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://httpbin.org/post",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 960,
        "wires": [
            [
                "ee306582.f0dde8"
            ]
        ]
    },
    {
        "id": "ee306582.f0dde8",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 1040,
        "wires": []
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "c13882529c56fce8",
        "name": "",
        "url": "/hello",
        "method": "get",
        "swaggerDoc": "",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "54c1e70d.ab3e18"
            ]
        ]
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "c13882529c56fce8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello Paul and thank you for being up so earlier!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 290,
        "y": 1160,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "c13882529c56fce8",
        "name": "",
        "x": 430,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b34dd1af.4cb23",
        "type": "template",
        "z": "c13882529c56fce8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Your color choice is {{req.query.colour}}!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 310,
        "y": 1280,
        "wires": [
            [
                "b828f6a6.47d708",
                "5c2777567cf8a2b4"
            ]
        ]
    },
    {
        "id": "1052941d.efad6c",
        "type": "http in",
        "z": "c13882529c56fce8",
        "name": "",
        "url": "/hello-query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "b34dd1af.4cb23",
                "9d544899f538e8bc"
            ]
        ],
        "outputLabels": [
            "OUTy"
        ]
    },
    {
        "id": "b828f6a6.47d708",
        "type": "http response",
        "z": "c13882529c56fce8",
        "name": "",
        "x": 450,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5c2777567cf8a2b4",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9d544899f538e8bc",
        "type": "debug",
        "z": "c13882529c56fce8",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 1400,
        "wires": [],
        "inputLabels": [
            "Nody"
        ],
        "icon": "node-red/light.svg",
        "info": "This is the description for this NODE"
    },
    {
        "id": "5b98a8ac.a46758",
        "type": "http in",
        "z": "c13882529c56fce8",
        "name": "",
        "url": "/hello-form",
        "method": "post",
        "swaggerDoc": "",
        "x": 160,
        "y": 1520,
        "wires": [
            [
                "bba61009.4459f"
            ]
        ]
    },
    {
        "id": "bba61009.4459f",
        "type": "template",
        "z": "c13882529c56fce8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>",
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "6ceb930a.93146c"
            ]
        ]
    },
    {
        "id": "6ceb930a.93146c",
        "type": "http response",
        "z": "c13882529c56fce8",
        "name": "",
        "x": 470,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e83b5168468ec975",
        "type": "udp in",
        "z": "3e863ac0512b83c0",
        "name": "WSJT UDP Input",
        "iface": "",
        "port": "2237",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "d8e6dfd7cee7cf16"
            ]
        ]
    },
    {
        "id": "6162852ded87eb51",
        "type": "debug",
        "z": "3e863ac0512b83c0",
        "name": "Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "d8e6dfd7cee7cf16",
        "type": "wsjt-x-decode",
        "z": "3e863ac0512b83c0",
        "name": "",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "fc472390b948856d"
            ]
        ]
    },
    {
        "id": "33650acbec34041d",
        "type": "comment",
        "z": "3e863ac0512b83c0",
        "name": "Overview",
        "info": "Hello\n\nYes I said Hello\n\n",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "fc472390b948856d",
        "type": "switch",
        "z": "3e863ac0512b83c0",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "decode",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "6162852ded87eb51"
            ],
            [
                "882b6a4c34507fdf",
                "dea2f328ef12cd44"
            ]
        ]
    },
    {
        "id": "882b6a4c34507fdf",
        "type": "debug",
        "z": "3e863ac0512b83c0",
        "name": "Decode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "7dd1c9d1210f8c3b",
        "type": "debug",
        "z": "3e863ac0512b83c0",
        "name": "CQ etc",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "dea2f328ef12cd44",
        "type": "function",
        "z": "3e863ac0512b83c0",
        "name": "CQ??",
        "func": "// Assume msg.payload is \"CQ K1DD FM04\"\n\n// Split the string into an array of values using ; as the delimiter\nvar last4chars = msg.payload.message.slice(-4);\n\nvar parts = msg.payload.message.split(\" \");\n\nif (parts.shift()==\"CQ\") {\n    // + CQ\n    msg.payload.message = last4chars;\n} else if (last4chars.includes('+') || last4chars.includes('-') || last4chars.includes(\"RR73\") || last4chars.includes(\" 73\")) {\n    // trash \n    // a signal report r-13, r+19 ....look for +/-\n    // b rr73\n    // keep\n    // a. grid exchange\n    msg.payload.message = \"\"\n} else {\n    // + RSP\n    msg.payload.message = last4chars;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 240,
        "wires": [
            [
                "a684d4fd1a8daf1f",
                "7d93f46683d1bee5"
            ]
        ]
    },
    {
        "id": "a684d4fd1a8daf1f",
        "type": "function",
        "z": "3e863ac0512b83c0",
        "name": "Maidenhead to Lat/Lon",
        "func": "var mh = msg.payload.message;\n\nif (mh.length < 4) {\n    return \"\";\n}\n\nvar lat1 = mh.charCodeAt(1);\nvar lat2 = mh.charCodeAt(3);\nvar lon1 = mh.charCodeAt(0);\nvar lon2 = mh.charCodeAt(2);\n\n/* \nmsg.payload.lat1 = lat1\nmsg.payload.lat2 = lat2\nmsg.payload.lon1 = lon1\nmsg.payload.lon2 = lon2\n*/\n\nvar latlon = { \n    \"name\" : \"!\",\n    \"mode\" : \"FT8\",\n    \"lat\": 99.99,\n    \"lon\": -99.99,\n    \"layer\": \"WSJT\",\n    \"radius\":\"35000\",\n    \"color\":\"yellow\"\n    };\n\nlatlon.name = msg.payload.message_decode.de_call;\nlatlon.lat = ((lat1-65)*10-90)+(lat2-48);\nlatlon.lon = (lon1-65)*20-180+(lon2-48)*2;\n\nmsg.payload = latlon;\n\n/*\nif (mh.length > 4) {\n    var lat3 = mh.charCodeAt(5);\n    var lon3 = mh.charCodeAt(4);\n    msg.payload.lat = msg.payload.lat + (lat3-65) / 24 + 1/48;\n    msg.payload.lon = msg.payload.lon + (lon3-65) / 12 + 1/24;\n} \n*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "dc4122d69d055790",
                "487c47351611a43b"
            ]
        ],
        "info": "// fe user_loc = \"KO03ka\"\r\n\r\n$loc = $user_data['user_loc'];\r\n\r\n$lat= \r\n(ord(substr($loc, 1, 1))-65) * 10 - 90 +\r\n(ord(substr($loc, 3, 1))-48) +\r\n(ord(substr($loc, 5, 1))-65) / 24 + 1/48;\r\n$lng= \r\n(ord(substr($loc, 0, 1))-65) * 20 - 180 +\r\n(ord(substr($loc, 2, 1))-48) * 2 +\r\n(ord(substr($loc, 4, 1))-65) / 12 + 1/24;"
    },
    {
        "id": "7d93f46683d1bee5",
        "type": "debug",
        "z": "3e863ac0512b83c0",
        "name": "Griddy",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "dc4122d69d055790",
        "type": "debug",
        "z": "3e863ac0512b83c0",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "f62672ee5ae4fdc5",
        "type": "sqlite",
        "z": "3e863ac0512b83c0",
        "mydb": "951e388692504675",
        "sqlquery": "prepared",
        "sql": "insert into wsjtQs (OpCall, OpLat, OpLon, Qtime) values ($OpCall, $OpLat, $OpLon, datetime(\"now\"))",
        "name": "DB of Lat/Long/Call etc",
        "x": 1330,
        "y": 620,
        "wires": [
            [
                "955d72067b482140"
            ]
        ]
    },
    {
        "id": "487c47351611a43b",
        "type": "function",
        "z": "3e863ac0512b83c0",
        "name": "Extract Call/Lat/Lon",
        "func": "msg.params = { $OpCall: msg.payload.name, $OpLat: msg.payload.lat, $OpLon: msg.payload.lon }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "9613c46acf836f5a",
                "f62672ee5ae4fdc5"
            ]
        ]
    },
    {
        "id": "9613c46acf836f5a",
        "type": "debug",
        "z": "3e863ac0512b83c0",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 520,
        "wires": []
    },
    {
        "id": "955d72067b482140",
        "type": "debug",
        "z": "3e863ac0512b83c0",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 700,
        "wires": []
    },
    {
        "id": "b4b0eb5cf1f58a95",
        "type": "link call",
        "z": "3e863ac0512b83c0",
        "name": "",
        "links": [],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "dd89e6c95fecbc7c",
        "type": "http request",
        "z": "6d56b95c5cf209f2",
        "name": "Get all ALERTS from SOTA via HTTP",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api2.sota.org.uk/api/alerts/5/all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "6f21faa34ff0b328",
                "e89637634dc3b720"
            ]
        ]
    },
    {
        "id": "6dd4cb31756627c0",
        "type": "inject",
        "z": "6d56b95c5cf209f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "dd89e6c95fecbc7c"
            ]
        ]
    },
    {
        "id": "3e1b5372d060c240",
        "type": "debug",
        "z": "6d56b95c5cf209f2",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 760,
        "wires": []
    },
    {
        "id": "6f21faa34ff0b328",
        "type": "debug",
        "z": "6d56b95c5cf209f2",
        "name": "Display HTTP from SOTA web site",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "e5908cb896fbae41",
        "type": "function",
        "z": "6d56b95c5cf209f2",
        "name": "Extract ALERT Details FLAT",
        "func": "\n\n    msg.params = {  $alertId: msg.payload.id, \n                    $alertTimeStamp: msg.payload.timeStamp, \n                    $alertActDate: msg.payload.dateActivated, \n                    $alertAssocCode: msg.payload.associationCode, \n                    $alertSummitCode: msg.payload.summitCode,\n                    $alertActCallsign: msg.payload.activatingCallsign, \n                    $alertFreq: msg.payload.frequency};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 580,
        "wires": [
            [
                "83e589280cb7e083"
            ]
        ]
    },
    {
        "id": "e89637634dc3b720",
        "type": "split",
        "z": "6d56b95c5cf209f2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "e5908cb896fbae41"
            ]
        ]
    },
    {
        "id": "83e589280cb7e083",
        "type": "sqlite",
        "z": "6d56b95c5cf209f2",
        "mydb": "4441a65c13a15ee4",
        "sqlquery": "prepared",
        "sql": "INSERT INTO  alerts (ActId, ActTimeStamp, ActDate, AssocCode, SummitCode, ActCallSign, Freq) VALUES ($alertId, $alertTimeStamp, $alertActDate, $alertAssocCode,$alertSummitCode, $alertActCallsign, $alertFreq)",
        "name": "",
        "x": 1010,
        "y": 640,
        "wires": [
            [
                "3e1b5372d060c240"
            ]
        ]
    },
    {
        "id": "3a03244380a72b00",
        "type": "inject",
        "z": "b2ea45338eb51cf5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "c80733d345ddbb75"
            ]
        ]
    },
    {
        "id": "c80733d345ddbb75",
        "type": "sqlite",
        "z": "b2ea45338eb51cf5",
        "mydb": "4441a65c13a15ee4",
        "sqlquery": "fixed",
        "sql": "Select distinct ActCallSign, AssocCode, SummitCode from alerts ",
        "name": "Unique call signs",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "9f4218d09eab62a9"
            ]
        ]
    },
    {
        "id": "9f4218d09eab62a9",
        "type": "split",
        "z": "b2ea45338eb51cf5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 660,
        "wires": [
            [
                "e2f773776966be42"
            ]
        ]
    },
    {
        "id": "e2f773776966be42",
        "type": "function",
        "z": "b2ea45338eb51cf5",
        "name": "Create Summit URL - get Lat/Lon",
        "func": "let summitURL = \"https://api2.sota.org.uk/api/summits/\";\nlet tString, assoc, summit = \"\";\n\n    assoc = msg.payload.AssocCode;\n    tString = summitURL.concat(assoc);\n\n    summit = msg.payload.SummitCode;\n    msg.payload = tString.concat(\"/\", summit);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 580,
        "wires": [
            [
                "6838bde64f1930fa"
            ]
        ]
    },
    {
        "id": "15ee454f2da76a46",
        "type": "http request",
        "z": "b2ea45338eb51cf5",
        "name": "Get Summit details",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 560,
        "wires": [
            [
                "a2c40be54f48d0ed",
                "9230eaf1a2808248"
            ]
        ]
    },
    {
        "id": "6838bde64f1930fa",
        "type": "change",
        "z": "b2ea45338eb51cf5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 480,
        "wires": [
            [
                "1d1b3d31cb9799f3",
                "15ee454f2da76a46"
            ]
        ]
    },
    {
        "id": "78209fe35efe1ed5",
        "type": "debug",
        "z": "b2ea45338eb51cf5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 880,
        "wires": []
    },
    {
        "id": "a2c40be54f48d0ed",
        "type": "function",
        "z": "b2ea45338eb51cf5",
        "name": "Summit to /MAP pars",
        "func": "msg.payload = JSON.parse(msg.payload);\n\nvar latlon = {\n    \"name\": \"!\",\n    \"lat\": 99.99,\n    \"lon\": -99.99,\n    \"label\" : \"Hi\",\n    \"layer\" : \"GLD\",\n //   \"radius\": \"15500\",\n \"icon\" : \"friend\",\n \"clichable\" : true\n //\"iconSize\" : 8,\n //   \"iconColor\" : \"orange\"\n //   \"color\": \"yellow\"\n};\n\nlatlon.name = msg.payload.summitCode;\nlatlon.label = msg.payload.summitCode + ' ' + msg.payload.points + 'p';\nlatlon.lat = msg.payload.latitude;\nlatlon.lon = msg.payload.longitude;\n\nmsg.payload = latlon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 740,
        "wires": [
            [
                "78209fe35efe1ed5",
                "db5508ef120e57d9"
            ]
        ]
    },
    {
        "id": "db5508ef120e57d9",
        "type": "ui_worldmap",
        "z": "b2ea45338eb51cf5",
        "group": "937754e7ea577683",
        "order": 1,
        "width": "22",
        "height": "12",
        "name": "Activations MAP",
        "lat": "54.4759",
        "lon": "-3.1112",
        "zoom": "6",
        "layer": "EsriDG",
        "cluster": "4",
        "maxage": "0",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "showruler": "true",
        "allowFileDrop": "true",
        "path": "/gld",
        "overlist": "TL",
        "maplist": "OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1300,
        "y": 660,
        "wires": []
    },
    {
        "id": "1d1b3d31cb9799f3",
        "type": "debug",
        "z": "b2ea45338eb51cf5",
        "name": "Activation URL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "9230eaf1a2808248",
        "type": "debug",
        "z": "b2ea45338eb51cf5",
        "name": "debug 50",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 520,
        "wires": []
    },
    {
        "id": "4684958027cb53a1",
        "type": "worldmap in",
        "z": "6464bc74006e0eec",
        "name": "",
        "path": "/gld",
        "events": "connect,disconnect,other",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "b961cbfbf53cfaf2",
                "148c75e80aaa9442",
                "f2f496333893bdcb"
            ]
        ]
    },
    {
        "id": "b961cbfbf53cfaf2",
        "type": "debug",
        "z": "6464bc74006e0eec",
        "name": "debug 51",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "f2f496333893bdcb",
        "type": "switch",
        "z": "6464bc74006e0eec",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "\"click\"",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "6b0a3a8c1c81ac09"
            ],
            [
                "6b0a3a8c1c81ac09"
            ]
        ]
    },
    {
        "id": "148c75e80aaa9442",
        "type": "debug",
        "z": "6464bc74006e0eec",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.action",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "6b0a3a8c1c81ac09",
        "type": "debug",
        "z": "6464bc74006e0eec",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "2caf81e7978f455c",
        "type": "function",
        "z": "f7e1a35dfed587da",
        "name": "Extract ALERT Details FOREACH",
        "func": "\n\nmsg.payload.forEach((val) => {\n    // val.value and val.value_type are what you need\n\n\n    msg.params = {  $alertId: val.id, \n                    $alertTimeStamp: val.timeStamp, \n                    $alertActDate: val.dateActivated, \n                    $alertAssocCode: val.associationCode, \n                    $alertSummitCode: val.summitCode,\n                    $alertActCallsign: val.activatingCallsign, \n                    $alertFreq: val.frequency};\n\n\n\n})\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "97ac9bdc6f7737df",
        "type": "function",
        "z": "f7e1a35dfed587da",
        "name": "Extract ALERT Details ACT COUNT",
        "func": "var actCount = flow.get('actCount');\n\n\n\n    msg.params = {  $alertId: msg.payload[actCount].id, \n                    $alertTimeStamp: msg.payload[actCount].timeStamp, \n                    $alertActDate: msg.payload[actCount].dateActivated, \n                    $alertAssocCode: msg.payload[actCount].associationCode, \n                    $alertSummitCode: msg.payload[actCount].summitCode,\n                    $alertActCallsign: msg.payload[actCount].activatingCallsign, \n                    $alertFreq: msg.payload[actCount].frequency};\n\n\n\nactCount++;\nflow.set('actCount', actCount);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f7148ace64a44524",
        "type": "function",
        "z": "f7e1a35dfed587da",
        "name": "Extract ALERT Details FOREACH",
        "func": "msg.payload.forEach((val) => {\n    // val.value and val.value_type are what you need\n\n\n    msg.params = {  $alertId: val.id, \n                    $alertTimeStamp: val.timeStamp, \n                    $alertActDate: val.dateActivated, \n                    $alertAssocCode: val.associationCode, \n                    $alertSummitCode: val.summitCode,\n                    $alertActCallsign: val.activatingCallsign, \n                    $alertFreq: val.frequency};\n\n\n\n})\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b11a31a6443de6a5",
        "type": "sqlite",
        "z": "f7e1a35dfed587da",
        "mydb": "4441a65c13a15ee4",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE alerts (A_Id INTEGER PRIMARY KEY,ActId TEXT NOT NULL,ActTimeStamp TEXT NOT NULL,ActDate TEXT NOT NULL,AssocCode TEXT NOT NULL,SummitCode TEXT NOT NULL,ActCallSign TEXT NOT NULL,Freq TEXT NOT NULL)\n",
        "name": "Create table in alerts.db",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "1a09be788d92da73"
            ]
        ]
    },
    {
        "id": "bf2b3c16f4163ced",
        "type": "inject",
        "z": "f7e1a35dfed587da",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "b11a31a6443de6a5"
            ]
        ]
    },
    {
        "id": "1a09be788d92da73",
        "type": "debug",
        "z": "f7e1a35dfed587da",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "aea5e101d4b722ac",
        "type": "inject",
        "z": "3d5c21ab41d1c469",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "e393f1ea420c154b"
            ]
        ]
    },
    {
        "id": "e393f1ea420c154b",
        "type": "function",
        "z": "3d5c21ab41d1c469",
        "name": "Time Now",
        "func": "msg.utc = (new Date(msg.payload));\nmsg.utc = msg.utc.toISOString().slice(0,19);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "3cfab5178123dd75",
                "ac487e074030e769"
            ]
        ]
    },
    {
        "id": "3cfab5178123dd75",
        "type": "function",
        "z": "3d5c21ab41d1c469",
        "name": "Add one HOUR",
        "func": "msg.utc = new Date(msg.payload + 3600000);\nmsg.utc = msg.utc.toISOString().slice(0,19);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 440,
        "wires": [
            [
                "dfc7abec7e082a62",
                "e0fc15e4335d3281",
                "a8c136216cdd766a"
            ]
        ]
    },
    {
        "id": "dfc7abec7e082a62",
        "type": "debug",
        "z": "3d5c21ab41d1c469",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "utc",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "ac487e074030e769",
        "type": "debug",
        "z": "3d5c21ab41d1c469",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "utc",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "e0fc15e4335d3281",
        "type": "function",
        "z": "3d5c21ab41d1c469",
        "name": "Extract original hour UTC ONLY",
        "func": "msg.utcHr = new Date(msg.payload).getUTCHours();\n//msg.utcHr = msg.utcHr.toISOString();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 540,
        "wires": [
            [
                "8d18f0483b765700"
            ]
        ]
    },
    {
        "id": "8d18f0483b765700",
        "type": "debug",
        "z": "3d5c21ab41d1c469",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "utcHr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "a8c136216cdd766a",
        "type": "function",
        "z": "3d5c21ab41d1c469",
        "name": "YYYY-MM-DD conversion",
        "func": "msg.tmpTime = Date.parse('1956-03-31T18:15:00');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 700,
        "wires": [
            [
                "834d53f9c73bded1",
                "2cb5e503d80bdade"
            ]
        ]
    },
    {
        "id": "834d53f9c73bded1",
        "type": "debug",
        "z": "3d5c21ab41d1c469",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tmpTime",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "2cb5e503d80bdade",
        "type": "function",
        "z": "3d5c21ab41d1c469",
        "name": "function 1",
        "func": "msg.utc = new Date(msg.tmpTime);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 760,
        "wires": [
            [
                "be18f6ce6aa3f393"
            ]
        ]
    },
    {
        "id": "be18f6ce6aa3f393",
        "type": "debug",
        "z": "3d5c21ab41d1c469",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "utc",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 700,
        "wires": []
    },
    {
        "id": "53a5b5873f6ea326",
        "type": "ui_button",
        "z": "12c7debef331bf5d",
        "name": "",
        "group": "937754e7ea577683",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "LOG Q ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "LogQ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "0231f1f14b5c6800"
            ]
        ]
    },
    {
        "id": "0540d768c9eb2522",
        "type": "ui_text_input",
        "z": "12c7debef331bf5d",
        "name": "",
        "label": "CALL :  ",
        "tooltip": "",
        "group": "937754e7ea577683",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "6b278cc40fddc06b"
            ]
        ]
    },
    {
        "id": "56c7483ef433c26f",
        "type": "ui_text_input",
        "z": "12c7debef331bf5d",
        "name": "",
        "label": "BAND :  ",
        "tooltip": "",
        "group": "937754e7ea577683",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "paylload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "802af0a3109d065a"
            ]
        ]
    },
    {
        "id": "bb2a820137c64cec",
        "type": "ui_text_input",
        "z": "12c7debef331bf5d",
        "name": "",
        "label": "MODE :  ",
        "tooltip": "",
        "group": "937754e7ea577683",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "1c1b20eceab8f806"
            ]
        ]
    },
    {
        "id": "ce1d8bc5735e9431",
        "type": "ui_text_input",
        "z": "12c7debef331bf5d",
        "name": "",
        "label": "SUMMIT :  ",
        "tooltip": "",
        "group": "937754e7ea577683",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "412e142f08f5ec3d"
            ]
        ]
    },
    {
        "id": "c25f86dbe6fba2d1",
        "type": "ui_text",
        "z": "12c7debef331bf5d",
        "group": "937754e7ea577683",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "UTC :",
        "format": "{{msg.utc}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 780,
        "wires": []
    },
    {
        "id": "75e2d3d21d3f8210",
        "type": "ui_text",
        "z": "12c7debef331bf5d",
        "group": "937754e7ea577683",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "NAME :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "372c2bbaee5be19a",
        "type": "inject",
        "z": "12c7debef331bf5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 820,
        "wires": [
            [
                "647360c57dac0e61"
            ]
        ]
    },
    {
        "id": "647360c57dac0e61",
        "type": "function",
        "z": "12c7debef331bf5d",
        "name": "Time Now",
        "func": "msg.utc = (new Date(msg.payload));\nmsg.utc = msg.utc.toISOString().slice(11,19);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 860,
        "wires": [
            [
                "c25f86dbe6fba2d1"
            ]
        ]
    },
    {
        "id": "f62becd6087bf41d",
        "type": "function",
        "z": "12c7debef331bf5d",
        "name": "Initialize logging system dataLog",
        "func": "flow.set('callSign','MOSNA/A');\nflow.set('opName','');\nflow.set('opSummit','GM/AA-999');\nflow.set('qBand','1240Mhz');\nflow.set('qMode','AM');\nflow.set('qUTC','99:99:99');\n\nvar tableData = [];\nflow.set(\"savedLogs\", tableData);\n\nmsg.payload = tableData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "f765388ecd978607",
                "80d728d0c089bd5e"
            ]
        ]
    },
    {
        "id": "09ac07318e7c533a",
        "type": "inject",
        "z": "12c7debef331bf5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "f62becd6087bf41d"
            ]
        ]
    },
    {
        "id": "f765388ecd978607",
        "type": "debug",
        "z": "12c7debef331bf5d",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "0231f1f14b5c6800",
        "type": "change",
        "z": "12c7debef331bf5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "qUTC",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "1b574f6b94085dbb"
            ]
        ]
    },
    {
        "id": "6b278cc40fddc06b",
        "type": "change",
        "z": "12c7debef331bf5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "callSign",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "c0e156d2436f7c72",
                "56e2f799ef77544e"
            ]
        ]
    },
    {
        "id": "c0e156d2436f7c72",
        "type": "debug",
        "z": "12c7debef331bf5d",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "412e142f08f5ec3d",
        "type": "change",
        "z": "12c7debef331bf5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "opSummit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 620,
        "wires": [
            [
                "c0e156d2436f7c72"
            ]
        ]
    },
    {
        "id": "802af0a3109d065a",
        "type": "change",
        "z": "12c7debef331bf5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "qBand",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "c0e156d2436f7c72"
            ]
        ]
    },
    {
        "id": "1c1b20eceab8f806",
        "type": "change",
        "z": "12c7debef331bf5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "qMode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 740,
        "wires": [
            [
                "c0e156d2436f7c72"
            ]
        ]
    },
    {
        "id": "1b574f6b94085dbb",
        "type": "function",
        "z": "12c7debef331bf5d",
        "name": "qData to JSON in payload using tableData",
        "func": "var qList = flow.get('savedLogs') || [];\n\nqList.unshift(\n    {\n        \"callSign\": flow.get('callSign'),\n        \"opName\": flow.get('opName'),\n        \"opSummit\": flow.get('opSummit'),\n        \"qBand\": flow.get('qBand'),\n        \"qMode\": flow.get('qMode'),\n        \"qUTC\": new Date(flow.get('qUTC'))\n    }\n);\n\nmsg.payload = qList;\n\nflow.set(\"savedLogs\", qList);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 320,
        "wires": [
            [
                "b2cbe28750d4be9a",
                "80d728d0c089bd5e"
            ]
        ]
    },
    {
        "id": "b2cbe28750d4be9a",
        "type": "debug",
        "z": "12c7debef331bf5d",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 380,
        "wires": []
    },
    {
        "id": "80d728d0c089bd5e",
        "type": "ui_table",
        "z": "12c7debef331bf5d",
        "group": "96497aade1213555",
        "name": "Q Logs",
        "order": 0,
        "width": "18",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "56e2f799ef77544e",
        "type": "function",
        "z": "12c7debef331bf5d",
        "name": "Get OP Name from Call",
        "func": "msg.payload = 'Frankie';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "75e2d3d21d3f8210"
            ]
        ]
    },
    {
        "id": "11c5290297ec0fd1",
        "type": "comment",
        "z": "12c7debef331bf5d",
        "name": "Initialize the environment",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "87e9d5e1ddeed300",
        "type": "comment",
        "z": "12c7debef331bf5d",
        "name": "Press/Click on \"LogQ\"",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "75f57abcf5226120",
        "type": "comment",
        "z": "12c7debef331bf5d",
        "name": "Collect the Q details ",
        "info": "",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "f875f97d92d0799d",
        "type": "csv",
        "z": "26510e2df6dde045",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "7496a89e31423ad4",
                "83435177e6d5472e"
            ]
        ]
    },
    {
        "id": "b70e9607826f31f9",
        "type": "inject",
        "z": "26510e2df6dde045",
        "name": "WC6J",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SOTAQ",
        "payload": "{\"version\":\"V2\",\"myCall\":\"W6PNG\",\"mySummit\":\"W6/SC-369\",\"actDate\":\"31/12/2022\",\"actUTC\":\"09:45\",\"freqMhz\":\"7.0Mhz\",\"mode\":\"SSB\",\"otherCall\":\"WC6J\"}",
        "payloadType": "json",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f875f97d92d0799d"
            ]
        ]
    },
    {
        "id": "7496a89e31423ad4",
        "type": "debug",
        "z": "26510e2df6dde045",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "83435177e6d5472e",
        "type": "file",
        "z": "26510e2df6dde045",
        "name": "",
        "filename": "/home/pi/sota.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "92f834db96834c0b"
            ]
        ]
    },
    {
        "id": "92f834db96834c0b",
        "type": "debug",
        "z": "26510e2df6dde045",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "3598f2c7f8a02cfd",
        "type": "inject",
        "z": "26510e2df6dde045",
        "name": "KX6I",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SOTAQ",
        "payload": "{\"version\":\"V2\",\"myCall\":\"W6PNG\",\"mySummit\":\"W6/SC-369\",\"actDate\":\"31/12/2022\",\"actUTC\":\"09:46\",\"freqKhz\":\"7.0Mhz\",\"mode\":\"SSB\",\"otherCall\":\"KX6I\"}",
        "payloadType": "json",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "f875f97d92d0799d"
            ]
        ]
    },
    {
        "id": "680c48c0c844d7de",
        "type": "inject",
        "z": "26510e2df6dde045",
        "name": "M0SNA/P",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SOTAQ",
        "payload": "{\"version\":\"V2\",\"myCall\":\"W6PNG\",\"mySummit\":\"W6/SC-369\",\"actDate\":\"31/12/2022\",\"actUTC\":\"09:47\",\"freqKhz\":\"14.05Mhz\",\"mode\":\"SSB\",\"otherCall\":\"M0SNA/P\"}",
        "payloadType": "json",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "f875f97d92d0799d"
            ]
        ]
    },
    {
        "id": "010e77f709d33182",
        "type": "inject",
        "z": "26510e2df6dde045",
        "name": "N6JFD/P",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SOTAQ",
        "payload": "{\"version\":\"V2\",\"myCall\":\"W6PNG\",\"mySummit\":\"W6/SC-369\",\"actDate\":\"31/12/2022\",\"actUTC\":\"09:50\",\"freqKhz\":\"21.0Mhz\",\"mode\":\"SSB\",\"otherCall\":\"N6JFD/P\"}",
        "payloadType": "json",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "f875f97d92d0799d"
            ]
        ]
    },
    {
        "id": "aa7df4a1401c5ebf",
        "type": "complete",
        "z": "26510e2df6dde045",
        "name": "",
        "scope": [
            "680c48c0c844d7de"
        ],
        "uncaught": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "2491e553e8673a61"
            ]
        ]
    },
    {
        "id": "1d8a6b7df12ced20",
        "type": "debug",
        "z": "26510e2df6dde045",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "2491e553e8673a61",
        "type": "change",
        "z": "26510e2df6dde045",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "M0SNA/P UP!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "1d8a6b7df12ced20"
            ]
        ]
    },
    {
        "id": "ddbfc66cd4b451d2",
        "type": "file in",
        "z": "26510e2df6dde045",
        "name": "",
        "filename": "/home/pi/sota.csv",
        "filenameType": "str",
        "format": "stream",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 430,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5b43b4e908faaef1",
        "type": "inject",
        "z": "26510e2df6dde045",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "ddbfc66cd4b451d2"
            ]
        ]
    },
    {
        "id": "ae039d409dd7c65c",
        "type": "debug",
        "z": "26510e2df6dde045",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "d78773c2d54dfa4c",
        "type": "inject",
        "z": "26510e2df6dde045",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "02ac5b1ec9c62bf7"
            ]
        ]
    },
    {
        "id": "02ac5b1ec9c62bf7",
        "type": "function",
        "z": "26510e2df6dde045",
        "name": "Two pre canned QSO",
        "func": "msg.payload = [\n    {\n \n\n        \"actUTC\": \"0951\",\n        \"freqKhz\": \"21.365Mhz\",\n        \"mode\": \"SSB\",\n        \"otherCall\": \"N6JFD/P\",\n        \"otherSummit\": \"W6/NS-001\",\n        \"comment\": \"S2S \"\n    },\n    {\n\n        \"actUTC\": \"0957\",\n        \"freqKhz\": \"21.365Mhz\",\n        \"mode\": \"SSB\",\n        \"otherCall\": \"WC6J\",\n        \"otherSummit\": \"W6/SS-001\",\n        \"comment\": \"S2S \"\n    }\n\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "392d143018998999",
        "type": "inject",
        "z": "26510e2df6dde045",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "fb674f68e5fb70fa"
            ]
        ]
    },
    {
        "id": "fb674f68e5fb70fa",
        "type": "function",
        "z": "26510e2df6dde045",
        "name": "Add QSO pre canned",
        "func": "msg.payload = \n\n{\n    command: \"addRow\",\n    arguments: [\n    {\n\n        \"actUTC\": \"1004\",\n        \"freqKhz\": \"21.365Mhz\",\n        \"mode\": \"SSB\",\n        \"otherCall\": \"mm0FMF/P\",\n        \"otherSummit\": \"GM/CS-001\",\n        \"comment\": \"S2S \"\n    },\n        true\n    ],\n    returnPromise: true\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c7b416acc9a7c702",
        "type": "function",
        "z": "eede5f8dff6cdb3d",
        "name": "Set to W6PNG",
        "func": "msg.payload = 'W6PNG';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "5a1041991e6548ef"
            ]
        ]
    },
    {
        "id": "f60651a0661b91a8",
        "type": "link in",
        "z": "eede5f8dff6cdb3d",
        "name": "FUNCTION: Set to W6PNG",
        "links": [],
        "x": 155,
        "y": 180,
        "wires": [
            [
                "c7b416acc9a7c702"
            ]
        ]
    },
    {
        "id": "5a1041991e6548ef",
        "type": "link out",
        "z": "eede5f8dff6cdb3d",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 625,
        "y": 180,
        "wires": []
    },
    {
        "id": "9b5b1059a1848d26",
        "type": "comment",
        "z": "eede5f8dff6cdb3d",
        "name": "return to caller.....",
        "info": "",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "bf1c659feb500855",
        "type": "link call",
        "z": "eede5f8dff6cdb3d",
        "name": "",
        "links": [
            "f60651a0661b91a8"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "43ad3461c163e7f7"
            ]
        ]
    },
    {
        "id": "98f2c2ead601eeb0",
        "type": "inject",
        "z": "eede5f8dff6cdb3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "bf1c659feb500855"
            ]
        ]
    },
    {
        "id": "43ad3461c163e7f7",
        "type": "debug",
        "z": "eede5f8dff6cdb3d",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "ddf5a971bfb3ae0c",
        "type": "comment",
        "z": "eede5f8dff6cdb3d",
        "name": "Link to flow....",
        "info": "",
        "x": 190,
        "y": 480,
        "wires": []
    },
    {
        "id": "fcc7900d8d20908d",
        "type": "link in",
        "z": "eede5f8dff6cdb3d",
        "name": "link in 1",
        "links": [
            "dd2a9bf68215991a"
        ],
        "x": 245,
        "y": 560,
        "wires": [
            [
                "3cc19f52bf634c69"
            ]
        ]
    },
    {
        "id": "8ebf06f67e023621",
        "type": "link out",
        "z": "eede5f8dff6cdb3d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "643dec7c703fc705"
        ],
        "x": 545,
        "y": 560,
        "wires": []
    },
    {
        "id": "3cc19f52bf634c69",
        "type": "change",
        "z": "eede5f8dff6cdb3d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Basic Link In and Link Out",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "8ebf06f67e023621"
            ]
        ]
    },
    {
        "id": "f3ed1c977354f2c8",
        "type": "debug",
        "z": "eede5f8dff6cdb3d",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 700,
        "wires": []
    },
    {
        "id": "643dec7c703fc705",
        "type": "link in",
        "z": "eede5f8dff6cdb3d",
        "name": "link in 2",
        "links": [
            "8ebf06f67e023621"
        ],
        "x": 655,
        "y": 560,
        "wires": [
            [
                "f3ed1c977354f2c8"
            ]
        ]
    },
    {
        "id": "a8f7397663cdaa1a",
        "type": "inject",
        "z": "eede5f8dff6cdb3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "dd2a9bf68215991a"
            ]
        ]
    },
    {
        "id": "dd2a9bf68215991a",
        "type": "link out",
        "z": "eede5f8dff6cdb3d",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "fcc7900d8d20908d"
        ],
        "x": 135,
        "y": 560,
        "wires": []
    },
    {
        "id": "80d79a23c6da4acc",
        "type": "comment",
        "z": "eede5f8dff6cdb3d",
        "name": "Link to different tab....",
        "info": "",
        "x": 180,
        "y": 860,
        "wires": []
    },
    {
        "id": "d11fd5e1e8d08bfd",
        "type": "inject",
        "z": "eede5f8dff6cdb3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "f08245d05d60a671"
            ]
        ]
    },
    {
        "id": "a83afdd8bbb98b9d",
        "type": "debug",
        "z": "eede5f8dff6cdb3d",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 940,
        "wires": []
    },
    {
        "id": "f08245d05d60a671",
        "type": "link out",
        "z": "eede5f8dff6cdb3d",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "0342609fac44085b"
        ],
        "x": 285,
        "y": 940,
        "wires": []
    },
    {
        "id": "99e4ada1570241ea",
        "type": "link in",
        "z": "eede5f8dff6cdb3d",
        "name": "link in 3",
        "links": [
            "dc563c60977d9399"
        ],
        "x": 485,
        "y": 940,
        "wires": [
            [
                "a83afdd8bbb98b9d"
            ]
        ]
    },
    {
        "id": "c65d7e4eb58ce0c6",
        "type": "comment",
        "z": "eede5f8dff6cdb3d",
        "name": "Subflow....",
        "info": "",
        "x": 140,
        "y": 1040,
        "wires": []
    },
    {
        "id": "60aa8b6a02e16f9e",
        "type": "subflow:e699a6c8314d41b4",
        "z": "eede5f8dff6cdb3d",
        "name": "",
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "cd13ae53abf5cdf6"
            ]
        ]
    },
    {
        "id": "cd13ae53abf5cdf6",
        "type": "debug",
        "z": "eede5f8dff6cdb3d",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "387320e1e4a489bb",
        "type": "inject",
        "z": "eede5f8dff6cdb3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "60aa8b6a02e16f9e"
            ]
        ]
    },
    {
        "id": "0342609fac44085b",
        "type": "link in",
        "z": "2cd6f3b19fb65612",
        "name": "Another TAB in",
        "links": [
            "f08245d05d60a671"
        ],
        "x": 205,
        "y": 300,
        "wires": [
            [
                "d0da3ccd63267376"
            ]
        ]
    },
    {
        "id": "d0da3ccd63267376",
        "type": "change",
        "z": "2cd6f3b19fb65612",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "From a different TAB!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "dc563c60977d9399"
            ]
        ]
    },
    {
        "id": "dc563c60977d9399",
        "type": "link out",
        "z": "2cd6f3b19fb65612",
        "name": "Another TAB out",
        "mode": "link",
        "links": [
            "99e4ada1570241ea"
        ],
        "x": 605,
        "y": 300,
        "wires": []
    },
    {
        "id": "fc614cd108d13b00",
        "type": "debug",
        "z": "e6aff00207da0509",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "e4612828b1cfb472",
        "type": "csv",
        "z": "e6aff00207da0509",
        "name": "",
        "sep": " ",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "b5f09b2231b93494"
            ]
        ]
    },
    {
        "id": "4fafeff9f1917f32",
        "type": "inject",
        "z": "e6aff00207da0509",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "QSO: 28533 PH 2023-03-04 0003 W6PNG         59  CA     XE1ZTW        59  100",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fdd6acbb7e026eda"
            ]
        ]
    },
    {
        "id": "b5f09b2231b93494",
        "type": "function",
        "z": "e6aff00207da0509",
        "name": "Cabrillo Log line to JSON",
        "func": "msg.payload = {\n    'freq' : msg.payload.col2,\n    'mode' : msg.payload.col3,\n    'date' : msg.payload.col4,\n    'utc' : msg.payload.col5,\n    'callSign' : msg.payload.col22,\n    'callPower' : msg.payload.col32\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "fc614cd108d13b00"
            ]
        ]
    },
    {
        "id": "fdd6acbb7e026eda",
        "type": "file in",
        "z": "e6aff00207da0509",
        "name": "ARRL SSB DX Logs",
        "filename": "/home/pi/arrldxssb2023.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "e4612828b1cfb472"
            ]
        ]
    },
    {
        "id": "c57cf5ee5a88f0ff",
        "type": "inject",
        "z": "f083648b1148f65c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <spot>     <app>N1MM</app>     <StationName>CONTEST-PC</StationName>     <dxcall>AL3CDE</dxcall>     <frequency>7061.2</frequency>     <spottercall>K2PO/7-#</spottercall>     <timestamp>2O20-Ol-l7 17:19:37</timestamp>     <action>add</action>     <mode>CW</mode>     <comment>CW 9 DB 18 WPM CQ AK </comment>     <status>single mult</status>     <statuslist>single mult</statuslist> </spot>",
        "payloadType": "str",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "f9c6d9d640a4b080"
            ]
        ]
    },
    {
        "id": "eafee9bab4ddcd0f",
        "type": "debug",
        "z": "f083648b1148f65c",
        "name": "debug 47",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "f9c6d9d640a4b080",
        "type": "xml",
        "z": "f083648b1148f65c",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "eafee9bab4ddcd0f",
                "6174a08e8b97757f"
            ]
        ]
    },
    {
        "id": "6174a08e8b97757f",
        "type": "debug",
        "z": "f083648b1148f65c",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.spot.app",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "8d96118d225e0402",
        "type": "switch",
        "z": "73810d06b03818e0",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "house",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "c36644719e6631b9"
            ],
            [
                "140abbed0cc091f2"
            ]
        ]
    },
    {
        "id": "978fa0c8b177318f",
        "type": "inject",
        "z": "73810d06b03818e0",
        "name": "",
        "props": [
            {
                "p": "payload.action",
                "v": "click",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "b6ab9f18bb50e446",
                "8d96118d225e0402"
            ]
        ]
    },
    {
        "id": "b6ab9f18bb50e446",
        "type": "debug",
        "z": "73810d06b03818e0",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "c36644719e6631b9",
        "type": "debug",
        "z": "73810d06b03818e0",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "140abbed0cc091f2",
        "type": "debug",
        "z": "73810d06b03818e0",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "e2fd7559069116c6",
        "type": "inject",
        "z": "73810d06b03818e0",
        "name": "House",
        "props": [
            {
                "p": "payload.action",
                "v": "house",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "8d96118d225e0402"
            ]
        ]
    }
]